{% extends 'reviews/reviews_base.html' %}

{% block content %}
      <br>
      <h3>Informacje o książce</h3>
      <hr>
      {% if book.cover %}
            <img src="{{ book.cover.url }}">
            <br>
      {% endif %}
      <span class="text-info">Tytuł: </span> <span>{{ book.title }}</span>
      <br>
      <span class="text-info">Wydawnictwo: </span><span>{{ book.publisher }}</span>
      <br>
      <span class="text-info">Data publikacji: </span><span>{{ book.publication_date }}</span>
      <br>
      {% if book.sample %}
            <span class="text-info">Próbka:</span> <a href="{{ book.sample.url }}">Pobierz</a>
            <br>
      {% endif %}
      <br>
      {% if not reviews %}
            <hr>
            <h3>Oceń książkę i napisz pierwszą recenzję.</h3>
      {% else %}
            <span class="text-info">Ocena: </span><span class="badge badge-primary badge-pill">{{ book_rating }}</span>
            <br>
            <hr>
            <h3>Opinie</h3>
            <ul>
            {% for review in reviews %}
                  <li class="list-group-item">
                        <span class="text-info">Komentarz: </span> <span>{{ review.content }}</span>
                        <br>
                        <span class="text-info">Utworzono: </span><span>{{ review.date_created }}</span>
                        <br>
                        <span class="text-info">Zmodyfikowano: </span><span>{{ review.date_edited }}</span>
                        <br>
                        <span class="text-info">Ocena: </span><span class="badge badge-secondary badge-pill">{{ review.rating }}</span>
                        <br>
                        <span class="text-info">Twórca: </span><span>{{ review.creator.username }}</span>
                        <br>
                        <a class="btn btn-primary" href="{% url 'review_edit' book.pk review.pk %}">Edytuj recenzję</a>
                  </li>
            {% endfor %}
            </ul>
      {% endif %}
<a class="btn btn-primary" href="{% url 'review_create' book.pk %}">Dodaj recenzję</a>
<a class="btn btn-primary" href="{% url 'book_media' book.pk %}">Media</a>
{% endblock %}