{% extends 'reviews/reviews_base.html' %}
{% block title %}
{% if instance %}
    Edycja {{ model_type }} {{ instance }}
{% else %}
    Nowy {{ model_type }}
{% endif %}
{% endblock %}

{% block content %}
<h2>
    {% if instance %}
        Edycja {{ model_type }} <em>{{ instance }}</em>
    {% else %}
        Tworzenie nowego {{ model_type }}
    {% endif %}
</h2>
<p>
    {% if related_instance and related_model_type %}
        <p>Dla instancji {{ related_model_type }} <em>{{ related_instance }}</em></p>
    {% endif %}
</p>
<form method="post" {% if is_file_upload %}enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">
        {% if instance %}Zapisz{% else %}Utwórz{% endif %}
    </button>
</form>
{% endblock %}