/.idea
/.venv
/secret_key.json
/bookr/__pycache__/
/reviews/__pycache__/
/reviews/migrations/__pycache__/
__pycache__/
.DS_Store
/bookr_admin/__pycache__/
/bookr_admin/migrations/__pycache__/
/filter_demo/
