{% extends "base.html" %}

{% load profile_tags %}

{% block title %}Bookr{% endblock %}

{% block heading %}Profil{% endblock %}

{% block content %}
    <ul>
        <li>Nazwa użytkownika: {{ user.username }} </li>
        <li>Imię i nazwisko: {{ user.first_name }} {{ user.last_name }} </li>
        <li>Data dołączenia: {{ user.date_joined }} </li>
        <li>E-mail: {{ user.email }} </li>
        <li>Ostatni login: {{ user.last_login }} </li>
        <li>Grupy: {{ groups }}{% if not groups %}Brak{% endif %}</li>
    </ul>



{% endblock %}
