{% extends "base.html" %} {% block title %}Bookr{% endblock %} {% block heading %}Profile{% endblock %} {% block content %}

<style>
    .flexrow {
        display: flex;
        border: 2px black;
    }
    .flexrow > div {
        flex: 1;
    }

    .infocell {
        border: 2px solid green;
        border-radius: 5px 25px;
        background-color: white;
        padding: 5px;
        margin: 20px 5px 5px 5px;
    }
</style>

<div class="flexrow">
    <div class="infocell">
        <p>Profil</p>
        <p>
            Nazwa użytkownika: {{ request.user.username }} <br />
            Imię i nazwisko: {{ request.user.first_name }} {{ request.user.last_name }}<br />
            Data dołączenia: {{ request.user.date_joined }} <br />
            E-mail: {{ request.user.email }}<br />
            Ostatni login: {{ request.user.last_login }}<br />
        </p>
    </div>

    <div class="infocell">
        <p>Wyświetlone książki</p>
        <p>
            {% for book_id, book_title in request.session.viewed_books %}
            <a href="/books/{{ book_id }}">{{ book_title }}</a><br />
            {% empty %} Nie znaleziono ostatnio wyświetlonych książek. {% endfor %}
        </p>
    </div>

    <div class="infocell">
        <p>Historia wyszukiwania</p>
        <p>
            {% for search_in, search in request.session.search_history %}
            <a href="{% url 'book_search' %}?search={{search|urlencode}}&search_in={{ search_in}}"> {{ search }} ({{ search_in }})</a>
            <br >
            {% empty %} Nie znaleziono historii wyszukiwania. {% endfor %}
        </p>
    </div>
</div>

{% endblock %}
